*{
	color: purple;
}

h1:hover {
	color: green;
}

.MajorTitles {
	text-align: center;
	color: #000000;
}

#Marquess {
	font-weight: bold;
}

h3, h4 {
	background-color: brown;
}

button.buttons {
	border: 3px solid black;
}

.description {
	width: 200px;
	border-style: double;
	padding: 20px;
}
